//these are the widths and heights of the site
$content-width: 1280px;
$min-height: 500px;

$photo-container-height: 500px;

//colros of the site
$baby-blue-color: #79ADDC;
$black-color: #000;
$white-color: #FFF;

